<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        At A Glance... LJ Group of Institutes</h2>
    <HR>
</center>
<div id="justify" style="padding-right:2em !important;">
    <p>
        <p>It is run by Lok Jagruti Kendra (LJK), a charitable Trust and registered society. L.J. stands for &lsquo;Lok&rsquo;
            (people) and &lsquo;Jagruti&rsquo; (awareness). It was founded in the year 1980 by visionaries like Prof. B.M. Peerzaada,
            Padma Bhushan Lord Meghnad Desai (LSE), Prof. Gautam Appa (LSE), Late Prof. M.S. Trivedi, Renowned Jurist Shri Girishbhai
            Patel and Shri Subodh Shah. The vision of trust has been to promote and nurture creativity, innovation, student start-ups
            and excellence through a chain of quality institutes, which would contribute to development of human capital of the
            country.
        </p>
        <br>
        <p>LJK has created 22 top class institutions on well-developed environment friendly campus with dedicated buildings and
            infrastructure facilities including:
        </p>
        <ul>
            <li>Technology enabled classrooms/laboratories, seminar halls/auditoriums, institute-wise rich libraries, computer centres
                connected with optical fiber network.</li>
            <li>Objective and transparent mechanisms with reliable student support systems.</li>
            <li>Exploiting new advances in knowledge and technology to enhance the quality of education.</li>
            <li>Building links with institutions and organizations, both in India and abroad, and industry for enrichment of academic
                programmes and for providing learning and employment avenues to students.</li>
            <li>Highly qualified faculty drawn from across the country.</li>
        </ul>
        <br>
        <p>All these create a unique and unmistakable academic ambience. All LJ Institutes strive to develop students into complete
            citizens who not only have the necessary subject knowledge and skills, but also have the empathy towards various
            social, cultural, environmental and other issues affecting our society.</p>
        <br>
        <p>Today, the L. J. Group of Institutes has affiliation with three universities (Gujarat University, Gujarat Technological
            University and IGNOU) for various diploma, undergraduate and postgraduate programmes (most of them professional).
            All the programmes are approved by AICTE. LJ has over 15000 students and 700 faculties engaged not only in teaching-learning
            but also in research and extension activities.</p>
        <br>
        <p>LJ Group of Institutes has set up LJ Knowledge Foundation to promote innovation and start-up interventions in the
            campus which has pioneered series of efforts to harness creative potential of students.&nbsp; LJ Knowledge Foundation
            is a nodal agency of Start-up Innovation Scheme of Government of Gujarat. LJ also runs several Centers of Excellence
            focused on soft skills such as communication skills, personality development and presentation skills to empower the
            students with sharp minds and exceptional talent.</p>
        <br>
        <p>LJ Group of Institutes feels proud for associating with Industry to conduct corporate &amp; skilled training to bridge
            the existing gap between formal system and the realistic modern skills requirements of the Industry. LJ has signed
            MOUs with Ford Motor, Toyota Motor, Suzuki Motor and Intas Pharma to provide them trained skilled manpower. LJ also
            associates with leading national &amp; multinational companies for placement.</p>
        <br>
        <br>
        <p style="color:rgb(155,0,50);font-weight:bold;">Mission</p>
        <p>To establish and manage institutions with an environment in which new ideas, delivery strategies and scholarship flourish
            and from where leaders and innovators of tomorrow shall emerge.&rdquo;</p>
        <br>
        <p style="color:rgb(155,0,50);font-weight:bold;">Vision</p>
        <p> Lok Jagruti Kendra will be a key player in education and social development by promoting and nurturing creativity,
            innovation, student start-ups and excellence through a chain of quality institutes, which would contribute to development
            of human capital of the country.&rdquo;</p>
        <br>
        <br>
        <p style="color:rgb(155,0,50);font-weight:bold;">Technical and Commercialization strengths of the LJ </p>
        <BR>
        <p>LJ is technically very sound as we have dedicated departments in areas like Mechanical, Electrical, Civil, Automobile,
            Chemical, Electronics &amp; Communication, Information &amp; Communication Technology, Instrumentation &amp; Control,
            Computer Engineering, Thermal Engineering, Information Technology, MCA, MBA, Pharmacy, Micro-Biology, Chemistry and
            Architecture.</p>
        <BR>
        <p>LJ has a management department which primarily looks works into the commercialization aspect of the startup/projects.
            We have made series efforts to convert student and faculty research to products and services, which can serve some
            real life purpose. Around 12 products have come out from systematic engineering and pharmacy research in the campus.</p>
        <BR>
        <p>We with help of local industry, design experts from NID, subject experts are validating these proofs of concepts and
            converting proof of values and later on products. In half a dozen cases we have bootstrapped with various stakeholders
            and help the faculty members and students setting up start-ups around them. We believe in the motto of Mind to Market
            / Research to Revenue to sustain and scale further efforts. We have around a dozen management and engineering faculties
            who are making series of efforts in new product design and commercialization of suitable student innovations covering
            both hard and soft technologies and even services. We have nominated many industry experts as adjunct faculty to
            the incubation process who brings in immense insights of technology forecasting, development, commercialization and
            market insights.</p>
        <br>
        <br>
        <p style="color:rgb(155,0,50);font-weight:bold;">LJ Campus, S. G. Road, Ahmedabad</p>
        <br>
        <ul>
            <li>LJ Institute of Engineering &amp; Technology (B.E., M.E.)</li>
            <li>LJ Institute of Management Studies (MBA)</li>
            <li>LJ Institute of Pharmacy (B.Pharm, M.Pharm)</li>
            <li>LJ Institute of Computer Applications (MCA)</li>
            <li>LJ Polytechnic (Diploma Engineering)</li>
            <li>New LJ Commerce College (B.Com)</li>
            <li>LJ Institute of Computer Applications (5 Year Integrated Programme)</li>
            <li>LJ Institute of Management Studies (5 Year Integrated Programme)</li>
            <li>LJ School of Architecture (B.Arch)</li>
            <li>LJ Academy of Radio Programming</li>
            <li>LJ Institute of Media &amp; Communication</li>
            <li>LJ Institute of Applied Sciences (B.Sc)</li>
            <li>LJ Institute of Physiotherapy</li>
            <li>LJ School of Law (LLB)</li>
            <li>LJ Knowledge Foundation</li>
            <li>LJ Overseas Education</li>
        </ul>
        <br>
        <br>
        <p style="color:rgb(155,0,50);font-weight:bold;">LJ Campus, Vastrapur, Ahmedabad</p>
        <br>
        <ul>
            <li>RJ Tibrewal Commerce College (B.Com, M.Com)</li>
            <li>LJ Institute of Business Administrations (BBA)</li>
            <li>LJ College of Computer Applications (BCA)</li>
            <li>LJ Institute of Professional Education</li>
            <li>LJ Pre-Primary /Secondary School</li>
            <li>LJ IGNOU Study Centre</li>
        </ul>
        <br>
    </p>
</div>