<table>
    <tr>
        <th colspan="2">
            <h2 style="color:rgb(155,0,50);font-weight:bold;">
                <center>
                    <i class="fa fa-search" style="color:rgb(155,0,50);"></i> Founders</h2>
            </center>
            </h2>
        </th>
    </tr>
    <tr>
        <td>
            Padma Bhushan, Lord Meghnad Desai
        </td>
        <td>
            London School of Economics, U.K.
        </td>
    </tr>
    <tr>
        <td>
            Late Prof. M.S. Trivedi
        </td>
        <td>
            Ex-Vice Chancellor, South Gujarat University, Surat
        </td>
    </tr>
    <tr>
        <td>
            Shri Girish C. Patel, LLM (Harvard)
        </td>
        <td>
            Senior Counsel &amp Eminent Jurist, Gujarat High Court
        </td>
    </tr>
    <tr>
        <td>
            Prof. B.M. Peerzada
        </td>
        <td>
            Eminent Economist and Ex-Dean, Commerce Faculty, Gujarat University
        </td>
    </tr>
    <tr>
        <td>
            Shri Girish B. Patel
        </td>
        <td>
            Chartered Accountant
        </td>
    </tr>
    <tr>
        <td>
            Shri Subodhbhai Shah
        </td>
        <td>
            Businessman
        </td>
    </tr>
</table>