<div class="row uniform">
    <div class="11u 12u(xsmall)">
        <center>
            <h2 style="color:rgb(155,0,50);font-weight:bold;">President Message</h2>
            <hr>
        </center>
    </div>
    <div class="3u 12u(xsmall)">
        <img src="images/pirzada-sir.jpg" alt="" style="width:100%;">
        <center>
            <br>
            <b>Prof. B. M. Peerzada </b>
            <br>
            <b>President, LJK</b>
    </div>
    <div class="8u 12u(xsmall)">
        <div id="justify">
            <p>
                Innovation is the new level playing field in today’s knowledge economy. While nations are evolving from agrarian economy
                to knowledge economy through their own roadmap, youth plays a critical role in this. India being the nation having
                highest pool of youth below 25 years posses’ enormous possibilities to involve them in meaningful national development
                efforts. While there are multiple ways for making the above happen, innovation & entrepreneurship a key among them.
                For solving country’s grassroots challenges and solve persistent macro issues like job creation & economic impact,
                every individual and institute in India can contribute its own attempt. We at LJ group of institutes are making
                sustained efforts to create a culture of student innovation & start-ups and LJ innovation Village is a unique annual
                platform for celebrating that spirit.
                <br>
                <br> We have successfully hosted five editions of this program. This year we are making it a national event so that
                as many potential innovators as possible can benefit from this. Innovations from over dozen sector and states will
                participate and benefit through this program. Over 1000 visitors will visit the pavilion including young students
                who are aspiring to be innovators. This edition will see experts, industry persons, mentors, investors and innovators
                coming together and push the agenda a step forward. More than 250 Innovations, student start-ups will demonstrate
                their work.
                <br>
                <br> LJ Innovation Village will also take necessary steps to help each potential innovator further after the program
                so that they are not left alone mid way in the innovation journey. I am sure this platform will also create a cross
                learning opportunity among all participants and heal each other and grow together. I am sure this platform will
                serve the acute need of a common stage where innovators, support systems can meet and co-work together so that the
                purpose of the mission is achieved. We are reaching out nationally to invite potential participants so that innovation
                and innovators are not left out alone in corner.
                <br>
                <br> Through our campus ecosystem and with help from various stakeholders from state and national start-up ecosystem
                we will help the innovators in mentoring, showcase platform, IPR support and taking them to end user. I congratulate
                all who are making tireless effort to sustain the spirit and wish all the very best to “LJ Innovation Village 2018”
                a great success.

            </p>
        </div>
    </div>
</div>