<div class="row uniform" class="header-margin-double">
    <div class="11u 12u(xsmall)">
        <center>
            <h2 style="color:rgb(155,0,50);font-weight:bold;">Vice-President’s Message</h2>
            <hr>
        </center>
    </div>
    <div class="3u 12u(xsmall)">
        <img src="images/manish-sir.jpg" alt="" style="width:100%;">

        <center>
            <br>
            <b>Dr. Manish Shah</b>
            <br>
            <b>Vice-President, LJK</b>
    </div>
    <div class="8u 12u(xsmall)">
        <div id="justify">
            <p>
                India is a young nation with vast pool of young students across universities. Given a platform these young students can turn
                to innovate and solve challenges of the country. Every team in their academic program does a project/thesis as requirement
                of their academic program. While huge amount of energy is being spent by students on their projects, platforms are
                rare where they can showcase their innovation and supports can be linked to them to take their ideas ahead. We at
                LJ are keen to create an end to end ecosystem where ideas, innovation & possible student start-ups are getting nurtured
                at different stages so that their creative potential is harnessed effectively.
            </p>
            <br>
            <p> LJ Innovation Village is a platform for young student innovators, start-ups to showcase their creative potential
                in front of stakeholders in the campus, industry experts, mentors, policy makers, investors and others. In past
                five editions over 1000 student innovations have been showcased through this platform. From this edition onwards
                we will open up this platform for all student innovators across the nation. LJ Innovation Village 2018 will have
                innovations across domain and states who will showcase their solutions/innovations to all.
            </p>
            <br>
            <p>
                LJ Innovation Village is not only a platform to showcase innovations but also we are trying to link various support systems
                with innovators through this. All innovators will get access to industry mentors, designers, market experts and
                other resources available through our campus incubation facility. We will see that best innovations also get seed
                grants so that they can take their innovation/project to next stage. We are committed to see that at least the best
                ones reach to cater the need of end users so that innovation to impact journey is covered end to end. LJ Innovation
                Village will also help the innovators to protect their IPR and file patents for their novel works. We will also
                provide access to our auxiliary ecosystem where innovators can fetch extended benefits from variety of stakeholders.
            </p>
            <br>
            <p>
                Some of our earlier exhibits have already taken their innovation to market. I am confident that this edition will also multiply
                such impact. Over 1000 students and aspiring innovators will also visit the innovation pavilion this year. We will
                have dozen parallel sessions involving various experts where innovators can benefit apart from exhibition. I am
                sure LJ Innovation Village 2018 will set new benchmark towards making attempt to support early stage innovations
                and contribute significantly towards the national attempt like “Make in India”, “Start-up India”.

            </p>



        </div>
    </div>
</div>