<li>
	<a id="Home" class="links" href="#/Student/Home"><i class="material-icons" style="font-size:100% !important;">home</i> Home</a>
</li>
<li>
	<a id="Problems" class="links" href="#/Student/Problems"><i class="material-icons" style="font-size:100% !important;">info_outlined</i> View Problems</a>
</li>
<!--
<li>
	<a id="Home" class="links" href="#/Student/Project"><i class="material-icons" style="font-size:100% !important;">add</i> Add Project</a>
</li>
<li>
	<a id="Home" class="links" href="#/Student/ManageProject"><i class="material-icons" style="font-size:100% !important;">edit</i> View Project</a>
</li>
-->

<li>
	<a id="Profile" class="links" href="#/Student/Profile"><i class="material-icons" style="font-size:100% !important;">edit</i> Edit Profile</a>
</li>
<li>
		<a id="links" class="links" href="#/Home" ng-click="logout()"><i class="material-icons" style="font-size:100% !important;" style="color:rgb(155,0,50);">power_settings_new</i>{{button.name}}</a>
</li>