<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Entrepreneur Development </h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    Antracon : The Fund Raising Event</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        LJ knowledge foundation brought 20 national angel Syndicates and more than 100 angel investors to fund innovative Start-ups
        in Gujarat at ANTRACON 2016
        <br>
        <br> Antracon 2016, was a mega start-up funding event organised by LJK Foundation which brought together Start-ups from
        across five states and business investors from the entire country with an aim to help the potential Start-ups raise
        an adequate funding for their Start-up as required. Conducted for the very first time in the state of Gujarat, the
        event attracted attention, praises and applauds from various government and non-government organizations, individuals
        & from local start-up ecosystem. Via Antracon, LJK tried to bridge the gap that persists amongst the Start-ups and
        the Business Investors.
        <br>
        <br> LJ Knowledge foundation at LJ group of institutes organized 1st of its kind start-up Angel and VC investors meet
        up on 19th and 20th August 2016 at Ahmadabad. The aim of this national level program was to encourage, empower and
        fund the start-ups across the entrepreneurial ecosystem and to create leverage in your start-ups, as well as enable
        you to grow your existing Enterprises. This event creates a confluence of more than 200 start-ups,over two dozen
        national and international angel networks, individual angels, HNIs and start-up ecosystem stakeholders from across
        the country. (More than 106 angel investors, 20 investor syndicates and 10 VCs investing across different verticals
        of start-ups will be part of the event with an aim of providing funding to suitable start-ups across the ecosystem)
        <br>
        <br> ANTRACON 2016 saw multiple activities like, How to become an angel workshop for potential investors, Start-up angel
        meet up for investment etc. While inaugurating the program today, Honourable Cabinet minister of Education, Sh. Bhupendrasinh
        Chudasama told “ Start-up movement is one of the key priority goal of the Govt. of Gujarat and Gujarat govt. will
        extend all possible support to Start-up ecosystem actors to make grassroots level efforts “ . Earlier the honourable
        minister had launched “Start-up Gujarat, Stand-up Gujarat “campaign on September 26, 2015 at same venue.
        <br>
        <br> During inauguration of the event, while motivating more local high net worth individuals and industry persons Ms.
        Padmaja Ruparel , President India Angel network shared “ Job creation by large industries are shrinking and only
        Start-ups and new enterprises are key job creation engines. Having more than 100 investors at ANTRACON event emphasize
        that Gujarat Start-up ecosystem is poised to embrace the call of Start-up India, Stand up India and take lead role
        in the country.”
        <br>
        <br> ANTRACON was organized in collaboration with LJK’s Antrapreneur: The Business Incubator which provides incubation,
        acceleration and mentoring to numerous start-ups. ANTRACON is a platform for establishing linkages between potential
        start-ups and angels, and towards creating a vibrant start-up ecosystem to achieve the honourable Prime Minister
        Shri. Narendra Modi's vision for "Start-up India, Stand-up India". LJK incubator is one of the leading nodal institute
        of Gujarat Government to implement its start-up assistance scheme for early stage start-ups. We have been interacting
        with more than 200 technological start-ups in the local start-up ecosystem and hand-holding them across the start-up
        value chain.
        <br>
        <br> This event is a platform for every potential start-up to pitch in front of global experts, mentors and investors.
        It will also bring in government start-up funding agencies that will extend their support to potential innovative
        enterprises. This will be the 1st such intervention in western India, comprising of start-ups from Gujarat, Maharashtra,
        Rajasthan, Madhya Pradesh and Goa with the key focus of bringing innovators, investments and start-ups together.
    </p>
    <h4 style="font-weight:bold;padding-left:0em">Each start-up benefited through the below mentioned means from this event</h4>
    <ul>
        <li>Opportunity to get supported and funded by Angel & VC networks, HNIs, individual angels and other business incubators.
            Start-ups can raise funds from Rs. 10 Lakhs to Rs. 10 crore as per their traction. Primary (Not Final) due diligence
            for management, technology, innovation, accounts & finance will be done by team of experts. Start-ups can apply
            to leverage the start-up assistance scheme of Government of Gujarat through LJK incubator. Participation in workshops
            like valuation, pitch plan, mentoring from stalwarts during the event.</li>
        <li>Access to 15,000 plus student pools across discipline for start-up internship and similar support. Access to industry
            veterans, successful start-up leaders and strategic partners of LJ knowledge foundation for early stage start-ups.</li>
        <li>Network with investors and start-up stakeholders, An opportunity to present to sector specific Angels. This platform
            will link promising start-ups to national and international accelerator programs.</li>
    </ul>
    <p>
        Start-ups attended from 5 states, Gujarat, Maharashtra, MP, Rajasthan & Goa. Start-ups in general could raise funds from
        Rs. 10 Lakhs to Rs. 10 crore as per their traction level of start-up through this event. More than 25 angels from
        Gujarat also joined this meet up and explore investing oppertunities in early stage innovation based start-ups. On
        20th august Start-ups made their pitch to leverage the start-up assistance scheme of Government of Gujarat through
        LJK incubator.
        <br>
        <br> Each start-up benefited some or other way by getting an opportunity to get supported and funded by Angel & VC networks,
        HNIs, individual angels and other business incubators. Start-ups can raise funds from Rs. 10 Lakhs to Rs. 10 crore
        as per their traction. Primary due diligence for management, technology, innovation, accounts & finance were done
        by team of experts. Start-ups could apply to leverage the start-up assistance scheme of Government of Gujarat through
        LJGI incubator. This platform created opportunity like participation in workshops like valuation, pitch plan, mentoring
        from stalwarts. It also helped direct access to 15,000 plus student pools across discipline for start-up internship
        and similar support. In addition access to industry veterans, successful start-up leaders and strategic partners
        of LJ knowledge foundation for early stage start-ups was a booster for participating innovators 7 start-ups. Shortlisted
        start-ups/innovators got a chance to network with investors and start-up stakeholders and an opportunity to present
        to sector specific Angels. This platform also link promising start-ups to national and international accelerator
        programs.
    </p>
</div>