<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Entrepreneur Development </h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    Antrapreneur: The Business Incubator</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        It was established in 2012 to support early stage innovators by means of incubation, acceleration, mentoring, investment,
        provides training and necessary resources to the ones are passionate enough to follow their dreams and carve a niche
        of their own in a world full of people who are willing to mingle with the crowd because of their inability to take
        risks.
        <br>
        <br> It brings together students, faculty of across universities, academic institutions which will consists of alumni,
        budding entrepreneurs, industrialists and mentors from across sectors, who are dedicated to the cause of endorsing
        the zest of entrepreneurship amongst individuals.
        <br>
        <br> It believes that entrepreneurship has an unmatched ability to bring about disruptive change in India and engages
        with ventures across technology and impact areas like engineering solutions, environment, agriculture, healthcare
        and affordable technology.
        <br>
        <br> Antrapreneur.. The Business Incubator is helping to foster entrepreneurship for generation of wealth and employment.
        The mission of the Antrapreneur is to develop institutional mechanism to create entrepreneurial culture among the
        stakeholders and to foster growth entrepreneurship amongst the students, faculty and the society at large. Through
        this incubator we are helping not only innovation based start-ups from our campus but also we are extending support
        to innovators outside LJ campus who are in need of incubation support. This center is also fetching significant of
        resources through various government and private sector grants, investments which are aimed to support young innovators.
        We have given financial support to over 13 start-ups through this by now. This center also hosts various programs
        and activities throughout the year which value adds to participating innovators & start-ups.
    </p>
    <h4 style="font-weight:bold;padding-left:0em">
	Objectives</h4>
    <p>
        <ul>
            <li>To act as an institutional mechanism for providing various services including information
                on all aspect of enterprise building to budding S&T entrepreneurs.</li>
            <li>To motivate and inspire Students/Alumni/Faculty/Venture Capitalist to take up the
                challenge of entrepreneurship, undergo EDP, skill development training and enhance
                self-employment opportunities.</li>
            <li>To equip them with necessary skills and provide all possible assistance.</li>
            <li>To recognize the entrepreneurship capabilities of students</li>
            <li>To create opportunities for development of entrepreneurship skills.</li>
            <li>To organize seminars/ guest lectures / workshops/ industrial visits.</li>
            <li>To provide opportunities for experiential learning to students.</li>
            <li>To bridge the gap between the management students and investors.</li>
            <li>To promote Creative thinking and an entrepreneurial mindset among the Students/Alumni/Faculty/Venture
                Capitalist.
            </li>
            <li>The model is a unique one, based on shared success.</li>
            <li>To seek, select and develop imaginative and innovative minds.</li>
            <li>The core idea is to engage and participate throughout their entrepreneurial journey
                instead of merely facilitating them from the outside.</li>
            <li>More like a partner than a third party facilitator.</li>
        </ul>
    </p>
    <h4 style="font-weight:bold;padding-left:0em">
	How it Works?</h4>
    <p>
        <ul>
            <li>To generate and convert business ideas/innovations to develop viable business plans
                to create new ventures.</li>
            <li>Facilitate the incubation of the business idea and convert the idea into a feasible
                concept to develop it and acquire initial customers. This will involve funding
                also.
            </li>
            <li>Guide and share the efforts of creating new ventures with the potential entrepreneurs.</li>
            <li>For adding value to each phase of the venture creation process right from idea generation
                to venture creation.</li>
            <li>Provide early stage and seed funding to gain better valuation for the start-ups before
                a venture capitalist enters.</li>
        </ul>
    </p>
</div>