<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Entrepreneur Development </h2>
    <HR>
</center>
<ul>
    <li>
        <a href="#/Initiatives/Antrapreneur" style="color:rgb(155,0,50);">Antrapreneur: The Business Incubator</a>
    </li>
    <li>
        <a href="#/Initiatives/Antracon" style="color:rgb(155,0,50);">Antracon : The Fund Raising Event</a>
    </li>
    <li>
        <a href="#/Initiatives/LJWomenEntrepreneurship" style="color:rgb(155,0,50);">LJ Women Entrepreneurship Development Programme (LJWEDP)</a>
    </li>
    <li>
        <a href="#/Initiatives/StartupGujaratStandupGujarat" style="color:rgb(155,0,50);"> Startup Gujarat, Standup Gujarat</a>
    </li>
    <li>
        <a href="#/Initiatives/StartupWeek" style="color:rgb(155,0,50);">Startup Week 24x7</a>
    </li>
    <li>
        <a href="#/Initiatives/LJBusinessCatalyst" style="color:rgb(155,0,50);">LJ Business Catalyst</a>
    </li>
</ul>