<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Entrepreneur Development </h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    LJ Business Catalyst</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        Over 1000 students study in streams of management across programs like BBA/MBA/5 year integrated MBA programs at LJ campus.
        As we are an integrated campus of various disciplines like engineering, pharmacy, management and applied sciences
        many often our teams come out with innovative products and solutions as a part of their academic and hobby projects.
        This is one of the key source of our innovation and student start-up pipeline which becomes an integral part of LJ
        innovation & start-up ecosystem. While most of the BBA/MBA/Integrated MBA students are supposed to develop projects
        on real life business cases, many of them try to end of doing either theoretical or artificial projects/products/solutions
        and apply their skills.
        <br>
        <br> Through LJ business catalyst program we give real problems/innovation/solutions to the management students in which
        over 300 students work in a team of five and try to create start-up module based on campus innovations across domain
        like entgineering,pharmacy, services etc. Our past edition has been a huge success in which our students did end
        to end plan and thorough efforts to take innovations from campus to market. During this process they do market research,
        user test, business plan and other field work related to taking the innovation to market. This flagship program is
        creating an organic process through which innovation can any discipline in our campus can club with management teams
        and try to make start-up module. As a spin off implication of such effort we see that possibility of teams turning
        up to start-up later on who have earlier participated in Business Catalyst program has gone up.
        <br>
        <br> Through this program we are promoting interdisciplinary efforts, building start-ups based on real life issues and
        take campus innovations to market. This also promotes co-creation among students across disciplines and learn to
        excel.
    </p>
</div>