<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Entrepreneur Development </h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    LJ Women Entrepreneurship Development Programme (LJWEDP)</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        It is an initiative by LJK Foundation in order to bring up the entrepreneurial potential of women. This is a five week workshop,
        with an aim of supporting and developing the skills of women and giving them equal opportunities in the field of
        entrepreneurship.Antrapreneur-The Business Incubator conducted the Entrepreneurship Development Programme to bring
        about the hidden zest, immensely potential qualities and the confidence of becoming an entrepreneur within the students
        and faculties in the LJ Campus. The programme focused on encouraging, empowering and educating the potential women
        entrepreneurs in all areas of practical relevance to entrepreneurs including Entrepreneurial Orientation, Business
        Planning, Economic Environment, Business Economics, Industry Analysis, Business Strategy, Product Development, Marketing
        Sales, Service Marketing, Product Management, Operations & Supply Chain Management, Accounting, Costing, Finance,
        Banking, Law, Taxation, Communication, Negotiation and Networking.
        <br>
        <br> In an effort to encourage, empower and educate potential women entrepreneurs to create their own business or social
        enterprise, as well as to enable women entrepreneurs to grow their existing Enterprises, LJ Group of Institutes is
        conducting Women Entrepreneurship Development Programme (WEDP) for Women Entrepreneurs across Gujarat at the LJK
        campus every year for 14 days where more than 100 female entrepreneurs and professionals across the nation participates
        as part of this event. 1000 Women Entrepreneurs is a global initiative initiated by LJ Group of Institutes which
        intends to provide women entrepreneurs across Gujarat a platform with practical business education, business advise,
        and networking.
        <br>
        <br> LJWEDP is being supported by DST, Centre for Entrepreneurship Development (CED), and Government of Gujarat, GCCI
        Business Women’s Wing, FICCI Ladies Organization, ASSOCHAM, Gujarat University, Gujarat Technological University
        and Tie.
    </p>
    <h4 style="font-weight:bold;padding-left:0em">
        More than 20 business ideas were there during this startup process in its last edition. Winners are given cash money in terms
        of seed funding in the following categories:
    </h4>
    <ol>
        <li>Based on popularity</li>
        <li>Based on Business/Start-up Potential</li>
    </ol>
    <h4 style="font-weight:bold;padding-left:0em">
        During this process students are exposed with:
    </h4>
    <ul>
        <li>Business Model Canvas Session, </li>
        <li>Product Model Canvas Session,</li>
        <li>How to conduct research and survey</li>
        <li>How to Market your product and services</li>
        <li>Financial Planning</li>
        <li>Mentor interaction</li>
        <li>Brief about raising funds</li>
        <li>Crowd funding</li>
    </ul>
    <h4 style="font-weight:bold;padding-left:0em">
        The Program also has sessions like
    </h4>
    <ol>
        <li>Market research, panel discussion, focus group discussion and survey</li>
        <li>Interaction with mentors</li>
        <li>How to register your venture/start-up</li>
        <li>Legal,IPR and allied support</li>
        <li>Over all start-up planning, pitching, communication, fund raising etc</li>
    </ol>
</div>