<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Entrepreneur Development </h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    Startup Gujarat, Standup Gujarat</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        LJ Knowledge Foundation launched the Startup campaign “Startup Gujarat Standup Gujarat” on 26/09/205, and also felicitated
        major stakeholders of the Gujarat Ecosystem for their valuable efforts towards the development of Gujarat Start-up
        Ecosystem in their own personal and institutional capacity. Honorable, Education Minister, Shri. Bhupendrasinh Chudasama
        was the Chief Guest of the program at LJ Campus on 26th September, 2015.
        <br>
        <br> Around 50 Start-ups and Start-up enthusiasts from Gujarat also joined this program. Around 200 start-up aspirants
        also attended this grand event who had attended various entrepreneurship exposure programs earlier.
        <br>
        <br> A vibrant start-up ecosystem needs co-creation through all complementary actors across the innovation and start-up
        value chain. This occasion emphasized on need of coming together and developing strategies and platforms to support
        young start-ups and strengthen the knowledge economy.
    </p>
</div>