<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Entrepreneur Development </h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    Startup Week 24x7</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        LJ Start-up week is a week-long hands-on experience training program where student innovators/entrepreneurs put their entrepreneurial
        skills to test and launch their start- ups based on their innovative projects. It helps students to set up and prepare
        their beta version of their venture within a week with a minimum viable prototype. The week begins with idea pitching
        on Monday where the best 20 ideas are selected and are further worked upon. This is followed by idea improvisation,
        Systematic analysis/canvas development for the business model, product development and testing, and customer validation.
        Subsequently over week ends, these demos are pitched in front of jury and feedback is taken from the panel of experts
        and teams incorporate the inputs in their next versions.
        <br>
        <br> LJK Foundation organizes such activities, events and sessions throughout the year in order to nurture the hidden
        entrepreneurial abilities within the students, motivate them to rise and stand right recognized in the crowd of people
        who despite having skills, do not take a step ahead and work upon it. LJK has always been there as a catalyst & facilitator
        in the form of such activities and events to enhance the important skills of the students/innovators and help build
        things which can go to end user and create value for money and value for many.
        <br>
        <br> The event program generally have more than 10,000 student participants, with 100s business ideas submitted every
        year in a series of events. From every session applications are scrutinized and best teams are selected for final
        pitching.
    </p>

    <h4>
        Each team focuses on
    </h4>
    <ul>
        <li>Idea improvisation</li>
        <li>Business Model Canvas Development</li>
        <li>Product development and testing</li>
        <li>Customer validation</li>
        <li>Practicing LEAN Startup Methodologies</li>
        <li>Building a minimum viable product with help from mentors belonging to diverse background
        </li>
    </ul>
</div>