<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Skill Development Programmes</h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    CRADLE</h4>
<div id="justify" style="padding-right:2em !important;">
<p>
    CRADLE (Capability Recognition And Development Lessons for Entrepreneurship) is a unique initiative of its kind through which
    CEOs of reputed industries and start-ups are invited to interact with LJ campus students. This triggers the aspiration
    of young students who want to initiative new projects and skill based start-ups by our MBA, Pharmacy and other professional
    students.
</p>
</div>