<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Skill Development Programmes</h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    EDX/COURSERA MOOC Club</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        As all are aware, this era is known as “The Information Age". It is a period in human history characterized by the shift
        from traditional industry that the Industrial Revolution created through industrialization, to an economy based on information
        computerization, created through research based technological development and globalization. Also, education has not
        been quite out of reach. However, no development is a bed of roses, the increased number of opportunities also create
        uncertainties. In order to reduce the degree of influence of those uncertainties in recent years, the concept of online
        or distance learning has expanded. It includes a growing number of Massive Online Open Courses (MOOCs) and free higher
        education courses open for enrolment for any Internet user. MOOCs are a recent trend in distance learning promoted by
        several prestigious universities.
        <br>
        <br> MOOCs are free and open courses which are a recent trend in distance learning promoted by several leading and prestigious
        universities including Harvard, Massachusetts Institute of Technology (MIT), Stanford and IITs. In recent years, there
        have been a growing number of MOOCs on the Internet.
        <br>
        <br> MOOCs have been proven to be most beneficial yet handy tool to increase potential for students’ engagement and to expand
        lifelong learning opportunities. Students’ engagement combines the investment of time, effort, and other relevant resources
        by both students and their institutions which intended to optimize the student experience and enhance their learning
        outcomes and development, along with the performance and reputation of the institution.
        <br>
        <br> MOOCs cover the wide range of content starting from language teaching to the audio/video lectures of core technical
        stuff of various science and engineering branches. Getting encouraged by the concept of E-learning, LJ Group of Institutes
        started this initiative to execute the same at college level in 2012.
        <br>
        <br> E-learning has not just inspired students to read for hours together rather than wasting time but also has made them
        more confident and technically sound. These courses have helped students expand their horizons of understanding and imagination,
        they have become aware of the on goings in the world and the kind of research the world is making. Through this knowledge
        and confidence they have begun arranging workshops on their own in their respective engineering subjects. For faculties,
        these courses work as add on. Their inputs for the subjects and projects have become now more real and visionary.
    </p>
</div>