<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Skill Development Programmes</h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    Hackathon</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        The word, hackathon, is a synthesis of the words ‘hack’ and ‘marathon’, where ‘hack’ is used in the sense of exploratory
        programming. Hackathons typically start with one or more presentations about the event, as well as about the specific
        subject, if any. Then participants suggest ideas and form teams, based on individual interests and skills. Then the
        main work of the hackathon begins, which can last anywhere from several hours to several days. Hackathons are proving
        grounds for new ideas. They are especially good tools to stimulate the creative and problem-solving juices of developers.
        The time limit in a hackathon forces participants to distil their visionary concepts down to actionable solutions.
        <br>
        <br> Engaging with participants during the hackathon is an excellent way to get feedback on a recently released API:
        learn where developers get stuck, what they love and what suggestions for improvement they have. Hackathons are an
        innovative proving ground for new ideas. They stimulate the creative juices of participants and foster problem-solving
        and risk-taking in a casual environment. The diversity of participants guarantees a multitude of perspectives and
        the time limit on hackathons creates a uniquely productive atmosphere that forces participants to distil their visionary
        concepts down to actionable solutions. All this increases the chance of finding innovative fixes to persistent problems.
        <br>
        <br> As project-based challenges, it is hackathons that come closest to testing a candidate's capabilities of handling
        challenges in the workplace. With software developers and data scientists in high demand, it’s challenging for companies
        to gain exposure, garner interest and determine the best talent. Hackathons address both challenges. Companies gain
        awareness in the developer community and are perceived as “hacker-friendly”. This helps attract top talent and once
        the candidates apply, they have at least one project under their belt and have proven to be passionate enough about
        their work to spend a weekend with little to no sleep.
    </p>
</div>