<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Skill Development Programmes</h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    LJ Centre of Excellence</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        <p>
            It has been started with the aim to increase the experimentation facilities available to the students. It cultivates students
            to be highly creative, & sensitive in the field of development
        </p>
        <ul>
            <li>To aim at better training, innovation and IPR filling</li>
            <li>To develop new prototypes based on student ideas & improve the existing ones using the lab facilities</li>
            <li>To develop Engineers, Planners and Designers whose work focuses on the quality of the built environment and promotes
                social justice, cultural value, resource conservation and economic opportunity. </li>
            <li>To create and support systems in school for providing exposure to the students and the faculty to the latest
                developments in discipline areas, industries, technologies and business.</li>
        </ul>

        </summary>
        <details style="box-shadow:0px 2px 2px 2px lightgrey;padding:1em;">
            <summary>
                <span style="color:rgb(155,0,50);font-size:18px;">
                    ROBOCON
                </span>
            </summary>
            <hr>
            <p>
                The technology today is developing at a rapid pace. In this era of globalization, the exchange of knowledge and skills has
                given a further fillip to the exponential growth in the field of technology. Such phenomenal advancements
                have revolutionized almost every sphere of human life today. The emerging disciplines like Robotics and Artificial
                Intelligence have brought in many possibilities and opportunities for us to explore the various ways in which
                technology can be developed and utilized for the well-being of mankind. It is imperative for the developing
                countries like India to excel in these disciplines if they wish to reach the level of other developed nations.
                The events like Robocon play a crucial role in nurturing the youth, the budding engineers, and to foster
                their skills in Robotics. It gives them a platform to learn and explore this field and develop insights into
                the interdisciplinary approach to technology.
                <br> <br>Robocon is an International Robotic event organized every year by Asia-Pacific Broadcasting unit at MIT
                Pune. It challenges students with a task for which they have to design and fabricate robot. The event is
                a great festival for exchange of technological know-how and sporting spirit. It has been our pleasure to
                watch students taking the initiative to participate with a high degree of improvisation each year.
                <Br> <br>LJ Team Blackhawks-R as they are called, goes through a journey of team building, designing various mechanisms,
                stay back at college for weeks, the downs when a mechanism fails and the joy when the robot finally works.
                The team which started with just 10 members has now evolved into a group of 25-30 enthusiastic engineers
                who not only work on the task given by ABU Robocon, but also work on various robotic solutions. The team
                goes through many brain storming & Ideation sessions whenever a task is given. This helps them to improve
                their problem solving approach. These ideas are then tested (Proof of Concept) by preparing small mechanisms.
                Once this is done, these ideas are implemented in the actual robot. During this entire process, students
                are introduced to many industrial mentors who help them refine their ideas. Making robots involve dealing
                with multiple sensors and controllers. Thus students learn the functioning & implementation of various industrial
                sensors like light sensor, diffuse sensor, proximity sensor etc. so they learn the process of selecting a
                sensor for a suitable task and then prepare a code to run that sensor. This makes it a complete integrated
                project where students of various fields like mechanical, electronics and computer science have to come together
                and apply integrated approach of learning. This provides a room for cross stream learning as mechanical students
                have to learn the functioning of sensors and electronic students have to learn the basic concepts of designing
                and fabrication. Once the robot is fabricated, its testing is done on an actual field Exposure to such tasks
                also helps students during their final campus recruitment as they have already gone through the process of
                working in cross departmental teams. In the recently completed ABU ROBOCON, the team stood 23rd amongst 100+
                participating teams from all over India.
            </p>
        </details>
        <details style="box-shadow:0px 2px 2px 2px lightgrey;padding:1em;">
            <summary>
                <span style="color:rgb(155,0,50);font-size:18px;">
                    SAE BAJA
                </span>
            </summary>
            <hr>
            <p>
                BAJA SAEINDIA is a national level automotive competition conducted by SAEINDIA in association with Mahindra & Mahindra.

                <br><br> A team of enthusiastic students from L J Institute of Engineering & Technology first participated in this
                event during 2014-15 and since then has marked it’s presence every year in the competition.

                <br><br> BAJA SAEINDIA is considered as one of the most prestigious event in Indian automotive sector. It has participation
                of more than 380 teams during it’s virtual phase where each team needs to give a technical presentation.
                Around 150 teams are selected which are then allowed to fabricate their ATV.
                <br><br> What started in 2014-15 as a 297 Kg buggy has now become a 193 Kg vehicle with a national rank of 34 out
                of 150 teams. In the recently completed 2016-17 season, the team stood 3rd out of 12 participating team from
                Gujarat and 34th in India.

                <br><br> BAJA SAEINDIA also has leading automobile companies as major recruiters every year. The likes of General
                motors, Mahindra & Mahindra, John Derr, Cummins, Endurance Solutions, Anand Group, Verroc Engineers etc select
                their recruits from the participating students.

                <br><br> 4 students have been selected in different companies from LJIET in HR recruitment at BAJA

                <br><br> At first, students design the complete vehicle considering all the failure parameters. They have to then
                manufacture each and every component and then assemble it to see the complete car functioning. The last stage
                is of testing the car on the most difficult terrain. In this process they learn sever things like
            </p>
            <ol>
                <li>Designing of power train & gear box casing</li>
                <li>Designing the entire suspension system</li>
                <li>Indigenous designed disc brake</li>
                <li>Designing the steering system</li>
                <li>Making a business plan</li>
                <li>Preparing the cost sheet for entire vehicle</li>
                <li>Understanding Design for manufacturing concepts.</li>
            </ol>
        </details>
        <details style="box-shadow:0px 2px 2px 2px lightgrey;padding:1em;">
            <summary>
                <span style="color:rgb(155,0,50);font-size:18px;">
                    Efficycle
                </span>
            </summary>
            <hr>
            <p>
                “EFFI-CYCLE” derived from Efficient-Cycle promote the objective of providing opportunity to students to conceive, Design
                and fabricate a three wheel configuration vehicle powered by human-electric hybrid power and capable of seating
                two passengers catering to the day to day mobility needs. The vehicle must be aerodynamic, engineered for
                performance & safety and ergonomically designed. The objective was to promote innovation and generate consciousness
                amongst the young engineers towards environment friendly mobility solution.

                <br><br> Electric vehicles are on the rise in India and providing real time experience to students at undergraduate
                level helps them gain a potential edge in the field of electric powered vehicles.
                <br><br> The students start by studying various theories on electric motors, batteries and transmission systems.
                Once it is done, they start designing the vehicle sub-systems like
                <br>

            </p>
            <ol>
                <li>The rollcage on which the sub systems would be mounted</li>
                <li>The power train connecting the motor to wheels</li>
                <li>The suspension geometry</li>
                <li>The steering system which should have control with both people driving the vehicle</li>
                <li>Optimum pedaling mechanism which allows both drivers to run the vehicle at the same time
                </li>

            </ol>
            <p>
                It also involves designing of circuits and embedded systems to control the speed of vehicle and effectively managing battery
                power. This includes performing the following tasks
            </p>
            <ol>
                <li>Virtual design of circuits and testing them in software</li>
                <li>Printing the circuit on a PCB</li>
                <li>Testing of sensors</li>
                <li>Designing a battery management system</li>
            </ol>
        </details>
        <details style="box-shadow:0px 2px 2px 2px lightgrey;padding:1em;">
            <summary>
                <span style="color:rgb(155,0,50);font-size:18px;">
                    Aero Modeling
                </span>
            </summary>
            <hr>
            <p>
                This initiative has been started to create awareness among students regarding concepts of Aero Dynamics, Remote Controlled
                Wireless Communication and Controls in such a way that they can implement those concepts to create different
                applications. The first workshop was conducted for three days so that students can easily understand and
                develop their own plane.
            </p>
        </details>
    </p>
</div>