<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Skill Development Programmes</h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    LJ Design Centre</h4>
    <div id="justify" style="padding-right:2em !important;">
<p>
    Designing Skill is an ability acquired through deliberate, systematic, and sustained effort to smoothly and adaptively carryout
    complex activities or job functions involving ideas (cognitive skills), things (technical skills), and/or people (interpersonal
    skills).
    <br>
    <br> To nurture the talent of students on various aspects of industrial designing activities, LJ Group of Institutes has
    started LJ Design Centre, where students can learn designing software, which will bring out their hidden creativity and
    improve their skills and enhance performance by focusing on overall professional development.
    <br>
    <br> Training offered at LJ Design Centre (LJDC) impart operational skills for end users and entrepreneurial applications.
    It gives a sense of independence and confidence that allows them to get to work on a project with clear goals. LJDC helps
    professionals to get an edge in selection procedure for employment. Even they can start their own consultancy after successfully
    completing their respective training.
    <br>
    <br> It increases productivity, efficiency, improves quality of service, employees retention and motivation. It always put
    professional inside the door instead of knock on doors and gives opportunities to grow up...up…..up……
</p>
</div>