<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Skill Development Programmes</h2>
    <HR>
</center>
<ul>
    <li>
        <a href="#/Initiatives/SkillDevelopment" style="color:rgb(155,0,50);">Skill Development & Corporate Training</a>
    </li>
    <li>
        <a href="#/Initiatives/LJCenterOfExcellence" style="color:rgb(155,0,50);">LJ Centre of Excellence</a>
    </li>
    <li>
        <a href="#/Initiatives/LJDesignCenter" style="color:rgb(155,0,50);">LJ Design Centre</a>
    </li>
    <li>
        <a href="#/Initiatives/EDXCourseAraMocClub" style="color:rgb(155,0,50);">EDX/COURSERA MOOC Club</a>
    </li>
    <li>
        <a href="#/Initiatives/Cradle" style="color:rgb(155,0,50);">CRADLE</a>
    </li>
    <li>
        <a href="#/Initiatives/Hackathon" style="color:rgb(155,0,50);">Hackathon</a>
    </li>
</ul>