
<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Skill Development Programmes</h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    Skill Development & Corporate Training</h4>
    <div id="justify" style="padding-right:2em !important;">
<p>
    LJ Group of Institutes has signed MOU with Ford Motor India to train the Employees of its SVAEP (Sanand Vehicle Assembly
    & Engine Plant). Since August 2013, we have trained more than 4000 Employees through its “PARIVARTAN” Training Programme.
    <br>
    <br> LJ Group has signed MOU with Toyota Kirloskar Motors Bengaluru, for its SA T-TEP (Service Advisor Toyota Technical Education
    Programme). In this programme we trained more than 60 Service advisors for Toyota dealer network.
    <br>
    <br> LJ Group has signed MOU with Intas Pharma to provide them skilled manpower as per their requirement for Production,
    Maintenance and R &D. First they select our students and then we prepare them as Ready to work for Intas. We already
    done 2 batches of students.
    <br>
    <br> LJ Group has signed MOU with Ajanta Manufacturing Limited. They have given Research assignment for their Electric Bikes
    Batteries.
    <br>
    <br> We have also trained more than 250 employees of Suzuki Motors for their Manufacturing Plant Gujarat.
    <br>
    <br> Also, we are giving skill enhancing training to Zydus Pharma employees.
    <br>
    <br> In Gujarat, LJ Group of Institutes is first and leading group to interface with top manufacturing companies to prepare
    skilled manpower, which are “Ready to Work” in Industry. They are not only Technically Sound but also they have good
    Behavior, Attitude, Communication, Presentation, Time Management , Team Work, Discipline, Personality and above all they
    know their Job Obligation as well as Social Responsibilities towards Society & Nation.
    <br>
    <br> At LJ, we prepare course and conduct training as per industry requirement. Once contents, course material, training
    methodology, duration and venue are confirmed by industry/organization, then we start training. So that industry/organization
    gets trained employees as per their requirement.
</p>
</div>