<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Project to Product </h2>
    <HR>
</center>
<div id="justify" style="padding-right:2em !important;">
    <p>
        "Project to Product " initiative : LJ campus has systematically developed innovation processes through which all of the 2000
        engineering and polytechnic students are working on real life challenges from market, industry
        and society in the market. Each project is monitored by expert faculty and best projects
        in every department are given prototyping fund through college. LJ is only campus which funds
        the student ideas to make prototype at initial stage. From 500 student projects we are making
        efforts to see that nearly 50 final year projects get converted into 50 productive solutions.
        In next 10 years we will equally emphasize on skill development and student start-ups. LJ
        campus in next 10 years will try to create nearly 300 student start-ups from its campus,
        which will create 15,000 direct and indirect jobs for the state and country. This will build
        a strong innovation culture in the ecosystem.
        <br>
        <br> This initiative is a flagship program in LJ campus to harness creative potential of young
        students and link them with additional resources in terms of mentoring, design support, financial
        assistance to develop proof of concept, help creating market for potential innovations etc.
        From this year onward seed grant support to potential innovators will be linked through the
        student start-up & innovation initiative, SSIP of Govt. of Gujarat and IEDC support of DST,
        Govt. of India. Broadly through this initiative we wish to ensure that 100s of man hours
        of efforts of young innovators reach to some conclusive stage of innovation and benefit end
        user and create impact. This initiative has been well appreciated by stakeholders from various
        innovation & start-up ecosystems.
        <br>
        <br> We as an institute are making efforts to create an end to end innovation/student start-up
        support ecosystem. “Project to Product” is a flagship intervention towards that in pre-incubation
        support system.
    </p>
    <br>
    <center>
        <img src="images/ljiv/projectdia.jpg" style="width:50%">
        <h5>Project to Product Pyramid (PPP)</h5>
    </center>
</div>