<HTML>
<BODY>
<section class="wrapper header-margin-double" style="padding-top: 0px !important;">
	<div class="8u -2u 12u(xsmall)">
    <div class="12u 12u(medium) 12u(small) 12u(xsmall)">
    <div class="inner">
        <BR>
		<span style="color: rgb(155,0,50);font-size:2em;" style="float:left;">
            <i class="material-icons">view_module</i>Manage Masters
		</span>

		<div class="row uniform" class="header-margin-double">
				<div class="12u 12u(medium) 12u(small) 12u(xsmall)">		
					<table>
					<tr>
						<td>
						<div class="6u 12u$(xsmall)">
							<figure>
							 <a style="color:#3b5998;" href="#/Admin/Mentors">
							<img border="0" alt="mentors" src="images/mentors.png" width="250" height="100">
							</a>
							<figcaption ><h6>&nbsp;&nbsp;&nbsp;&nbsp; Mentors</h6></figcaption>
							</figure>
							
						</div>
					   </td> 
						<td>
						<div class="6u 12u$(xsmall)">
							<figure>
		
								<a style="color:#3b5998;" href="#/Admin/Institutes">
								<img border="0" alt="Streams" src="images/institutes.png" width="250" height="100">
								</a>
							<figcaption ><h6>&nbsp;&nbsp;&nbsp;&nbsp; Institutes</h6></figcaption>

							</figure>
						
						</div>
					   </td> 
						</tr>
						<tr>
						<td>
						<div class="6u 12u$(xsmall)">
							<figure>
		
								<a style="color:#3b5998;" href="#/Admin/Streams">
								<img border="0" alt="Streams" src="images/streams.png" width="250" height="100">
								</a>
							<figcaption ><h6>&nbsp;&nbsp;&nbsp;&nbsp; Streams</h6></figcaption>

							</figure>
						
						</div>
					   </td> 
					
					   <td>
						<div class="4u 12u$(xsmall)">
						<figure>
		
							<a style="color:#3b5998;" href="#/Admin/Branches">
							<img border="0" alt="Branches" src="images/branches.png" width="250" height="100">
							</a>
							<figcaption ><h6>&nbsp;&nbsp;&nbsp;&nbsp; Branches</h6></figcaption>

							</figure>
							
						</div>
					   </td>		
					   </tr>
					</table>
                    
			</div>
		</div>
		</div></div>
	</section>
</BODY>
</HTML>