<li>
	<a id="Home" class="links" href="#/Mentor/Home">
		<i class="material-icons" style="font-size:100% !important;">home</i> Home</a>
</li>

<li>
	<a id="ReviewProjects" class="links" href="#/Mentor/ReviewProjects">
		<i class="material-icons" style="font-size:100% !important;">check</i> Review Projects</a>
</li>

<li>
	<a id="ProjectAllocated" class="links" href="#/Mentor/ProjectAllocated">
		<i class="material-icons" style="font-size:100% !important;">home</i> Allocated Project</a>
</li>

<!--
 <li>
	<a id="registerProblem" class="links" href="#/Mentor/registerProblem">
		<i class="material-icons" style="font-size:100% !important;">add</i> Add Problem</a>
</li>
-->
<li>
	<a id="EditProblem" class="links" href="#/Mentor/EditProblem">
		<i class="material-icons" style="font-size:100% !important;">edit</i> Manage Problems</a>
</li>
<li>
	<a id="ChangePassword" class="links" href="#/Mentor/ChangePassword">
		<i class="material-icons" style="font-size:100% !important;">vpn_key</i> Change Password</a>
</li>

<li>
	<a id="links" class="links" href="#/Home" ng-click="logout()">
		<i class="material-icons" style="font-size:100% !important;" style="color:rgb(155,0,50);">power_settings_new</i>Logout</a>
</li>