<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Community Outreach</h2>
    <HR>
</center>
<ul>
    <li>
        <a href="#/Initiatives/LJSahyog" style="color:rgb(155,0,50);">LJ Sahyog</a>
    </li>
    <li>
        <a href="#/Initiatives/LJArogyaKendra" style="color:rgb(155,0,50);"> LJ Arogya Kendra</a>
    </li>
    <li>
        <a href="#/Initiatives/LawsOnWheels" style="color:rgb(155,0,50);">Laws on Wheels</a>
    </li>
    <li>
        <a href="#/Initiatives/Prayas" style="color:rgb(155,0,50);">Prayas</a>
    </li>
</ul>