<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Community Outreach</h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
        Laws on Wheels</h4>
    <div id="justify" style="padding-right:2em !important;">
            <p>
                    This is designed to serve twin purposes: social as well as academic. Under this the students will go to interior villages
                    for creating legal awareness and to know the social reality, legal problems of different
                    class of people and to make them aware of their rights and to render legal advice and assistance
                    to the socially and economically backward classes. This will provide a unique learning experience
                    to the students.
                </p>
    </div>