<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Community Outreach</h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    L.J. Arogya Kendra</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        Through LJ Aarogya Kendra we have developed an innovative practice where a team of doctor and support staffs delivers health
        care services through mobile van in key slum area of the city. Every day our mobile van with team of doctor and support
        staff stays near key slum area of the city where over 1 lac people stay in the nearby slum. Our team does end to
        end support from diagnostics to delivery of medicine. We give medicine for 2 days for 5 rs after diagnostic is done
        by the team in the van. Over 60,000 patients have been benefited since 2008 through this initiative. We are now taking
        up such effort to create full-fledged healthcare delivery system through creating unique hospital where people from
        underprivileged background can benefit.</p>
</div>