<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Community Outreach</h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    LJ Sahyog</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        LJ Sahyog is an initiative taken by LJ Group of Institutes to encourage Village Computer Entrepreneurship (VCE) by conducting
        workshop for website making and social media awareness. For this initiative more than 2000 students visited 250 villages
        and successfully developed websites and Facebook pages for these villages.
    </p>

    <ul>
        <li>To find create helping attitude among students and inculcate critical analysis and creative thinking by comparing
            their lives with the life of villagers through direct interaction with them. </li>
        <li>To find out some problem area in a village and provide technical solution through product/process development or
            modification. </li>
        <li>To fulfill the above objective we divided the village visits in two phases in order that the regular academic sessions
            of students are not disturbed as per the above report. The third phase is proposed on 4th Feb, 2016 to 6th Feb
            2016. </li>
    </ul>
    <p>
        Before the visit we had a session with the District Development Officer, Ms. Bhargavi Dave and had assigned the students
        to each Talati of all selected villages who had visited the institute and met students personally. The students stayed
        at the villages for 2-4 days and observed their life and did various activities.
    </p>
    <h5>The students met the Sarpanch and other people of the village separately and found out about the following: </h5>
    <ul>
        <li>What the villagers do not have as compared to city life? </li>
        <li>What the villagers have which city life cannot give? </li>
        <li>Why a particular village is into a particular occupation e.g. if agriculture is the main source of income then why
            only a particular crop? </li>
        <li>Understand the supply chain of the crops/milk etc. </li>
        <li>Find out how much total a village is producing in terms of crops/milk/other products if any.
        </li>
    </ul>
    <h5>
        Outcome:
    </h5>
    <ul>
        <li>The students noted down their observations and comments. </li>
        <li>Based on their observations the students prepared a detailed report of their observations.
        </li>
        <li>They analyzed their report and based on that tried to give solutions for whatever problems they have noted down.
        </li>
        <li>Students prepared a presentation on which problems faced by the villager with whom student have interacted, and some
            idea/design of the product as a solution of their problem </li>
        <li>The solutions will then be proposed to the village Sarpanch/head/ end users and facility for its implementation will
            be provided. </li>
    </ul>
</div>