<center>
    <h2 style="color:rgb(155,0,50);font-weight:bold;">
        Community Outreach</h2>
    <HR>
</center>
<h4 style="font-weight:bold;padding-left:0em">
    Prayas</h4>
<div id="justify" style="padding-right:2em !important;">
    <p>
        Started with the objective of inculcating Institutional Social Responsibility (ISR) among students to promote Institution-
        neighbourhood community network involving students and faculty, it is the extension and outreach programme of the
        institution.
    </p>
</div>